li {
  list-style: none;
  .product {
    display: flex;
    flex-direction: row;
    width: 500px;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    h3 {
      margin-right: 32px;
    }
    .button-group {
      padding-right: 20px;
      button {
        margin-right: 2px;
      }
    }
  }
}
